/* Main CSS */
/* Do not change anything in main css section, u are free to add and modify ur own css module */
body {
    font-family: sans-serif;
    background-color: rgb(233, 231, 231);
}

.icon {
    margin: 0 10px 0 10px;
}

.logo {
    height: 40px;
    width: 30px;
}

.dropdown-item {
    padding: 10px;
}

.dropdown-header {
    background-color: steelblue;
}

.dropdown-divider {
    margin: 0;
    padding: 0;
}

.see-more-notification {
    background-color: lightgrey;
    text-align: center;
    padding: 5px;
}

.sb-sidenav-menu-nested .nav-link {
    font-size: 14px;
}

.login_bg{
    background: linear-gradient(90deg, #00a9d8 0%, #5cbd66 100%);
}

.fc .fc-daygrid-day-number {
    text-decoration: none;
    color: black;
}

.fc .fc-col-header-cell-cushion {
    /* needs to be same precedence */
    display: inline-block;
    text-decoration: none;
    color: black;
}

.carousel .item {
    height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
