.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
thead{
    border: 1px darkgrey solid;
}
tbody{
    font-size: 14px;
    border: 1px darkgrey solid;
}

.header-bg{
    background-color: rgb(1, 80, 76);
    color: white;
}