.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.header-bg {
    background-color: rgb(169, 205, 230);
}

.table-footer-bg {
    background-color: rgb(198, 226, 245);
}

.img-container {
    height: 125px;
    width: 125px;
}

table {
    table-layout: fixed;
}
table th,
table td {
    overflow: hidden;
}
